extends layout.pug

block content
  each routine in routines
    div(class="row")
      div(class="col-lg-4 offset-lg-4")
        a(alt=routine.attributes.title class="ds-link" href=`/${language}/${routine.id}`)
          div(class="_ds-link body")
            div(class="_ds-link title")= routine.attributes.title
          div(class="_ds-link action-icon")
            i(class="bi bi-box-arrow-in-right")